@import url('https://rsms.me/inter/inter.css');
html {
  max-width:100%;
}
/*網頁內容寬度*/
body {
    max-width:50vw;
    margin:auto;
}
/*網站入口的大標題*/
.title {
  font: 900 10vw/1 'Inter',sans-serif;
  letter-spacing: -0.06em;
  margin: 0;
}
@supports (font-variation-settings: normal) {
  .title { 
    font-family: 'Inter var', sans-serif; 
  }
}
/*首頁的瀏覽列*/
div.homepage-nav {
  margin: 0;
  padding-top: 0.4rem;
  font-size:24px;
}
    div.homepage-nav a {
    padding-bottom: 0;
    }
        div.homepage-nav a:visited,div.nav a:visited {
        color:#115095;
        }
        div.homepage-nav a.current-page {
        color:black;
        font-weight: bold;
        border:none;
        }
/*首頁主要連結*/
a.link {
  color: inherit;
}
div.link {
  border: 1px solid;
  padding: 3rem;
  margin: 0.3rem;
}
div.link p {
  margin:0;
}
.link-title {
  font-family: "Chiron Sans HK WS", sans-serif;
  font-size: 3rem;
  letter-spacing: -0.045em;
  font-weight: 900;
}
.link-subtitle {
  font-family: Inter,sans-serif;
  font-size:2.7rem;
  letter-spacing: -0.05em;
  font-weight:800;
}
.transform-90deg {
  writing-mode: vertical-rl;
  text-orientation: sideways;
}
.noheight {
  line-height: 1;
}
.flex {
  display: flex;
}
@media (prefers-color-scheme: dark) {
  div.homepage-nav a:visited,div.nav a:visited {
    color:rgb(35, 200, 255);
  }
  div.homepage-nav a.current-page {
    color:white;
  }
}

div.homepage-text,span.time {
  font-size: 16px;
}
@media screen and (max-width: 900px) {
  body {
  max-width: 35rem;
  }
  div.header {
    width:initial;
  }
  .title {
    font-size:18vw;
  }
  div.homepage-nav {
    font-size:calc(8vw * 8 / 19.3);
  }
  .content {
    margin:0;
    width:initial;
  }
}
@media screen and (max-width: 600px) {
  body{
    max-width:100%;
    width:100%;
  }
    .title,div.homepage-nav {
        text-align:center;
        padding:0;
    }
    .title {
      font-size:30vw;
    }
    div.homepage-nav {
    font-size:calc(15vw * 8 / 19.3);
    }
}
@media screen and (max-width: 300px) {
  div.homepage-nav {
    font-size:calc(15vw * 4 / 13.8);
  }
}
@media screen and (min-width: 2500px) {
  .title {
      font-size:64px;
  }
}

/*貼文列表樣式*/
.posts {
  list-style-type: none;
  padding-left: 0;
}

