body {
  display: flex;
  max-width:100%;
  justify-content: center;
}
@media screen and (max-width: 900px) {
  body {
    display: block;
    max-width:40rem;
    margin:auto;
  }
  .title {
    text-align: left;
  }
}
/*網頁內容寬度*/
.content {
    width:50vw;
}
/*首頁的瀏覽列*/
div.homepage-nav {
  margin: 0;
  padding-top: 0.4rem;
  font-size:24px;
}
    div.homepage-nav a {
    padding-bottom: 0;
    }
        div.homepage-nav a:visited,div.nav a:visited {
        color:#115095;
        }
        div.homepage-nav a.current-page {
        color:black;
        font-weight: bold;
        border:none;
        }

@media (prefers-color-scheme: dark) {
  div.homepage-nav a:visited,div.nav a:visited {
    color:rgb(35, 200, 255);
  }
  div.homepage-nav a.current-page {
    color:white;
  }
}

div.homepage-text,span.time {
  font-size: 16px;
}
/*網站入口的大標題*/
.title {
  text-align: right;
  padding-right:2rem;
}
h1.title {
  font-weight:bold;
  font-size:5vw;
  line-height:1em;
  margin: 0;
}
h3.title {
  margin-top:0;
  margin-bottom: auto;
  padding-top: 0;
  font-size:calc(5vw * 8/12.3);
}
h1.title,.content {
  margin-top: 30vh;
}
@media screen and (max-width: 1100px) {
  h1.title {
    font-size:8vw;
  }
  h3.title {
    font-size:calc(8vw * 8/12.3);
  }
}
@media screen and (max-width: 900px) {
    .title {
        text-align:left;
    }
    h1.title {
        margin-top: 10vw;
    }
    div.homepage-nav {
        font-size:calc(8vw * 8 / 19.3);
        margin-top:
    }
    .content {
        margin:0;
        width:initial;
    }
}
@media screen and (max-width: 590px) {
    .title,div.homepage-nav {
        text-align:center;
        padding:0;
    }
    h1.title {
    font-size:15vw;
    }
    h3.title {
    font-size:calc(15vw * 8/12.3);
    }
    div.homepage-nav {
    font-size:calc(15vw * 8 / 19.3);
    }
}
@media screen and (max-width: 300px) {
  h1.title {
    font-size:15vw;
  }
  h3.title {
    font-size:calc(15vw * 2 / 3.1);
  }
  div.homepage-nav {
    font-size:calc(15vw * 4 / 13.8);
  }n
}
@media screen and (min-width: 2500px) {
  h1.title {
      font-size:64px;
  }
  h3.title {
      font-size:calc(64px*4/3.1);
  }
}

/*貼文列表樣式*/
.posts {
  list-style-type: none;
  padding-left: 0;
}
