html,body {
    padding:0;
    max-width: 100%;
}
.title {
    text-align: center;
}
h1.title {
    font-weight:bold;
    font-size:3vw;
    line-height:1em;
    margin-bottom: 0;
}
h3.title {
    margin-top: 0;
    font-size:calc(3vw * 4 / 6.3);
}
a > h1 {
    color:initial;
}
div {
    position: relative;
    /*border: 1px solid black;*/
    overflow: hidden;
}
.flex {
    display: flex;
    justify-content: center;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.small-width {
    max-width: 20vw;
}
.small-height {
    max-height:59vh;
    height:59vh;
}
.tiny-height {
    max-height:26vh;
    height:26vh;
}
.tiny-height,.small-height,.normal {
    overflow-y: scroll;
    border:1px solid black;
    margin:0.5rem;
    padding:0.5rem;
}
.noscroll {
    overflow: hidden;
}
@media screen and (max-width: 700px) {
    html,body {
    max-width:initial;
    width: initial;
    }
    .flex {
        margin: 0;
    }
    .small-width {
        max-width:500px;
    }
    .tiny-height,.small-height,.normal {
        padding: 0;
        max-height: max-content;
        max-height: -moz-max-content; /*legacy firefox*/
        height: max-content;
        height: -moz-max-content;
        overflow: hidden;
        border:none;
    }
    h1.title {
        font-size:18vw;
    }
    h3.title {
        padding-top: 0;
        font-size:12vw;
    }
    div.hide-on-mobile{
        display: none;
    }
}
@media screen and (min-width: 500px) and (max-width: 700px) {
    h1.title {
        font-size:90px;
    }
    h3.title {
        padding-top: 0;
        font-size:60px;
    }
}
@media screen and (min-width: 700px) and (max-width: 1300px) {

    .small-width {
        max-width:30vw;
    }
    h1.title {
        font-size:4vw;
    }
    h3.title {
        padding-top: 0;
        font-size:2.6vw;
    }
    ul {
        padding-left: 18px;
    }
}