/* 基本字體設定，Inter */

@font-face {
  font-family: 'ARPLMing';
  src: url('arplmingu20lt.eot');
  src:
    url('../font/arplmingu20lt.eot?#font-spider') format('embedded-opentype'),
    url('../font/arplmingu20lt.woff2') format('woff2'),
    url('../font/arplmingu20lt.woff') format('woff'),
    url('../font/arplmingu20lt.ttf') format('truetype'),
    url('../font/arplmingu20lt.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*全域*/
html {
  font-size: 16px;
  margin: auto;
  padding: 1em;
  background-color:black;
  color:#f9f9f9;
  max-height: 40rem;
  writing-mode: vertical-rl;
}
body {
  font-family:"ARPLMing", sans-serif
}

/*最上面選單*/
table.title {
  margin-right:0;
  margin-left:auto;
}
td {
  min-width: 3rem;
}
td.title {
  font-weight: 900;
  font-size: 5.2rem;
}
td.title > a {
  color:white;
}
/*最上面選單在小螢幕置中*/
@media only screen and (max-width: 596px) {
  table.title {
    margin: auto auto 1.6rem;
    font-size: 4vw;
  }
  td {
    font-size: calc(21.5/3)
  }
  td.title {
    font-size: 21.5vw;
  }
}
/*以 .mobile_break 定義只在小螢幕上換行的地方（美觀）*/
@media screen and (min-width: 596px) {
  .mobile-break { display: none; }
}
/*連結顏色*/
a {
  text-decoration: none;
}
a:link, a:visited {
  color: #FFDF00;
}
a:hover, a:active {
  color: red;
}
/*標題*/
h1{
  display: inline;
  background-color: #FFCF00;
  color: black;
  max-width:12em;
  line-height:1.2em;
}
h1 + h3,h1 + p {
  margin-top: 1.5rem;
}
h5 {
  margin-bottom: 1em;
}
p,ol,ul,div,blockquote { 
  line-height: 1.75;
}
/*最後一個<p>*/
p:last-of-type {
  margin-bottom: 5em;
}
/*貼文頁面的清單排版*/
ol {
  list-style: none;
  counter-reset: cupcake;
}
ol li {
  counter-increment: cupcake;/*⬅ 設定一個計數器，命名為Cupcake*/
}
ol li:before {
  content: counters(cupcake, '.') '.';<small class="em">（詳見補充）*/
  position: absolute;/*⬅ 設定為絕對位置，很重要*/
  margin-top: -1.2em;/*⬅ 為了讓排版不跑掉*/
  transform: rotate(270deg);/*⬅ 轉回橫的*/
}

.posts li {
  margin-top: 1em;
  line-height: 2em;
}
/*強調文字*/
strong {
  font-weight: bold;
}
code {
  display: inline;
  background-color: #333;
  font-family: monospace;
  font-style: normal;
  padding: 0.2em 0.3em;
  border-radius: 4px;
}

small {
  font-size: 1em;
}
.blue {
  background-color: blue;
  padding:0.5em 0 0.5em 0.1em;
}
.block {
  display:block;
  padding: 1em;
}
.extramargin {
  margin: 1em;
}
.time {
  font-family: monospace;
  color: #666;
}

hr {
  border:0.5px solid #666;
}
