/* 基本字體設定，Inter */

@font-face {
  font-family: '更紗黑體 CL';
  src: url('fonts/Sarasa-UI-CL-Light.eot');
  src:
    url('fonts/Sarasa-UI-CL-Light.woff2') format('woff2'),
    url('fonts/Sarasa-UI-CL-Light.woff') format('woff'),
    url('fonts/Sarasa-UI-CL-Light.ttf') format('truetype'),
    url('fonts/Sarasa-UI-CL-Light.svg') format('svg');
    font-weight: lighter;
}

@font-face {
  font-family: '更紗黑體 CL';
  src: url('fonts/Sarasa-UI-CL-Bold.eot');
  src:
    url('fonts/Sarasa-UI-CL-Bold.woff2') format('woff2'),
    url('fonts/Sarasa-UI-CL-Bold.woff') format('woff'),
    url('fonts/Sarasa-UI-CL-Bold.ttf') format('truetype'),
    url('fonts/Sarasa-UI-CL-Bold.svg') format('svg');
    font-weight: bold;
}

/*全域*/
html {
  margin: auto;
  max-width: 40rem;
  padding: 1rem;
}
@media (prefers-color-scheme: dark) {
  html {
    background-color: rgb(33, 32, 32);
    color:white;
  }
}

/*以 .mobile_break 定義只在小螢幕上換行的地方（美觀）*/
@media screen and (min-width: 500px) {
  .mobile-break { display: none; }
}

@media screen and (max-width: 750px) {
  html {
    max-width: 30rem;
  }
}

/*標題*/
h1,h2,h3,h4,h5,h6,strong,.time {
  font-family: "更紗黑體 CL", sans-serif;
}
h3,h4,h5,h6,strong,.time {
  font-weight:lighter;
}
h3 {
  padding-top: 1rem;
}

/*網站入口的大標題*/
h1.title {
  font-weight:bold;
  font-size:5vw;
  line-height:1em;
  margin-bottom: 0;
  padding-bottom: 0;
}
h3.title {
  margin: 0;
  padding-top: 0;
  font-size:calc(5vw * 4 / 6.3);
}
p.nav {
  margin: 0;
  text-align: center;
  font-size:calc(5vw * 4 / 13.6);
}
@media screen and (max-width: 1100px) {
  h1.title {
    font-size:8vw;
  }
  h3.title {
    font-size:calc(8vw * 4 / 6.3);
  }
  p.nav {
    font-size:calc(8vw * 4 / 13.6);
  }
}
@media screen and (max-width: 600px) {
  h1.title {
    font-size:18vw;
  }
  h3.title {
    font-size:calc(18vw * 4 / 6.3);
  }
  p.nav {
    font-size:calc(18vw * 4 / 13.6);
  }
  ul,ol {
    padding-left: 20px;
  }
}
@media screen and (max-width: 300px) {
  h1.title {
    font-size:15vw;
  }
  h3.title {
    font-size:calc(15vw * 4 / 6.3);
  }
  p.nav {
    font-size:calc(15vw * 4 / 13.6);
  }
}
.title {
  text-align: center;
}

/*貼文列表樣式*/
.posts {
  list-style-type: none;
  padding-left: 0;
}

/*內文Typography*/
p,ol,ul,blockquote,div,strong,em {
  font-family: "Apple LiSung Light", "Noto Serif TC", "游明朝", "Yu Mincho", "游明朝体", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho ProN", "MS P明朝", "MS PMincho", "HGS明朝E", "MS Mincho", "PMingLiU", serif;
  line-height: 1.75;
  text-align: left;
}
a {
  text-decoration: none;
  padding-bottom: 0.15rem;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
strong {
  font-weight:bold;
}
@media (prefers-color-scheme: dark) {
  a {
    color:rgb(35, 200, 255);
  }
  a:visited {
    color:rgb(186, 130, 238)
  }
}

.emphasis {
  background-color: lightgoldenrodyellow;
  padding:0.5rem;
}
@media (prefers-color-scheme: dark) {
  .emphasis {
    background-color: rgb(59, 59, 42);
    padding:0.5rem;
  }
}

.caption {
  background-color: gainsboro;
  padding: 0.5rem;;
}
@media (prefers-color-scheme: dark) {
  .caption {
    background-color: rgb(54, 54, 54);
    padding: 0.5rem;;
  }
}

.time {
  font-size: 10px;
  padding: 3px;
  border-radius: 5px;
  border:0.5px solid;
}

.footer {
  display: flex;
  justify-content: space-between;
}

div.footer > .time {
  font-size: 1rem;
}
/*圖像大小設定*/
img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/*iFrame（顯示速記用）*/
iframe {
  border:1px solid;
  height: 400px;
  width:100%;
}

/*分隔線*/
hr {
  border: 0.5px solid #000;
  margin: 2rem 0 1rem 0;
}

hr.notes {
    overflow: visible; /* For IE */
    text-align: center;
    border: none;
}

hr.notes:after {
    content: " ∗ ∗ ∗ ";
    display: inline-block;
    position: relative;
    font-size: 1em;
    padding: 0 0.25em;
}

/*美觀工具類*/
.block {
  display: block;
}

.text-red {
  color: darkred;
}
@media (prefers-color-scheme: dark) {
  .text-red {
    color: rgb(255, 77, 77);
  }
}
